/* Signin page css */

.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.signin h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.signin input {
    width: 30%;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
}

.signin button {
    width: 33%;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: -1rem;
}

.signin a {
    color: lightgray;
    text-decoration: none;
    margin-right: 0;
    margin-left: 28%;
    font-size: small;
    margin-top: -1.5rem;
}

.signin button:hover {
    background-color: #0056b3;
}